{% extends "appGastos/base.html" %}

{% block title %}{{title}}{% endblock %}


{% block content %}
<h1></h1>
<p style="color: black">wellcome, {{user.nome}}!</p>


<div class="row justify-content-center">
    <div class="card" style="margin-top: 100px">
        <article class="card-body">
            <h1>{{title}}</h1>
            <hr>
            <br>
            <form style="color: black" method="post" action="{% url urli %}">
                {% csrf_token %}
                {{form.descricao.label_tag }}
                {{form.descricao}}
                <br>
                 <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </article>
    </div>
</div>
{% endblock %}