{% extends "appGastos/base.html" %}

{% block title %}KoalaDevs SysBettina - Controle de Finanças Pessoal{% endblock %}

{% block content %}
{% load static %}
 <div class="parallax" style="background:rgba(255,255,255,1)">
            <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;background:rgba(255,255,255,0.4)">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                    <h1 class="text-black display-1" style="margin-left:10%;margin-top: -1%"><img src="{% static 'appGastos/img/KD-Black.png'%}" style="height:93px;width:93px;"><bold>&nbsp;SysBettina</bold> </h1>
                    <p style="font-size:20px;color:#000;margin-left:8%"><br>O SysBettina está aqui para revolucionar a maneira que o mundo controla as finanças. Agora é possível traçar seu caminho rumo à independência financeira com esse prático e completo gerenciador financeiro. A partir de agora, controle
                        suas contas em apenas um lugar e da maneira mais simples possível. Suas finanças na palma da sua mão!&nbsp;<br><br><br></p>
                    <div class="row" style="margin-top:-43px;">
                        <div class="col d-flex justify-content-end"><a href="{% url 'login' %}"><button class="btn btn-primary" type="button"><strong>LOGIN</strong></button></a></div>
                        <div class="col d-flex justify-content-start"><a href="{% url 'users' %}"><button class="btn btn-warning" type="button" style="width:135px;"><strong>CRIAR CONTA</strong></button></a></div>
                    </div>
                </div>
            </div><video autoplay="" muted="" loop="" class="parallax-background"><source src="{% static 'appGastos/videob.mp4' %}" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':25}},{'type':'text','name':'video_css','label':'Video CSS (eg. filters)','wrapper':{'width':25}}]" wp-attr="[{'target':'src','replace':'%1'},{'target':'parent_style','replace':'%2'}]"></video>
            <div
                class="parallax-placeholder" style="background-image:url(&quot;{% static 'appGastos/img/betina.jpg' %}&quot;);"></div>
        </div>
{% endblock %}