{% extends "appGastos/base.html" %}

{% block title %}{{title}} - KoalaDevs SysBettina{% endblock %}

{% block content %}

<h1  class = "display-3 bold-text">{{title}}</h1>

<table class="table table-reflow flex-wrap" style="margin: 0px 10px">
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
        {% for item in transacao %}
            <tr>
                <td>{{item.descricao}}</td>
                <td>R$ {{item.valor}}</td>
                <td>{{item.data}}</td>
                <td>{{item.categoria}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}