{% extends "appGastos/base.html" %}

{% block title %}{{title}} - KoalaDevs SysBettina{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="card" style="margin-top: 100px; width: 900px">
        <article class="card-body">
            <h3 CLASS="font-weight-bold">{{title}}</h3>
            <hr>
            <br>
            <form style="color: black" method="post" action="{% url urli id_reg %}">
                {% csrf_token %}
                {% for f in form %}
                    {% if f.label_tag != "Usuario:" or f.label_tag != "Tipo:" %}
                        {{f.label_tag }}
                        {{f}}
                    {% endif %}
                <br>
                {% endfor %}
                <br>
                 <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
                </div>
            </form>
        </article>
    </div>
</div>
{% endblock %}