{% extends "appGastos/base.html" %}

{% block title %}Lista de {{title}}s - SysBettina KoalaDevs {% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="card" style="margin-top: 100px; width: 90%">
        <article class="card-body">
            <h3 CLASS="font-weight-bold d-flex justify-content-between">Lista de {{title}}s
                <a href="{% url urli %}">
                    <button type="button" class="btn btn-dark">Nova {{title}}</button>
                </a>
            </h3>
            <hr>
            <br>

            {% if salvo %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Registro Atualizado!</strong>
            </div>
            {% endif %}
            {% if lenT > 0 %}
            <table class="table table-reflow flex-wrap" style="margin: 0px 10px">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in transacao %}

                <tr>

                    <td>{{item.descricao}}</td>
                    <td>R$ {{item.valor}}</td>
                    <td>{{item.data}}</td>
                    <td>{{item.categoria}}</td>
                    <td width="180px">
                        <a href="{% url 'decreceita' item.id %}">
                            <button type="button" class="btn btn-dark">Editar</button>
                        </a>
                        <a href="{% url 'deletar' item.id %}">
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </a>

                    </td>

                </tr>

                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>Não há {{title}} Registradas!</h3>
            {% endif %}
        </article>
    </div>
</div>

{% endblock %}