{% extends "appGastos/base.html" %}

{% block title %}Entrar no Sistema{% endblock %}


{% block content %}



<div class="row justify-content-center">
    <div class="card" style="margin-top: 100px">
        <article class="card-body">
            <h1>Login</h1>
            <hr>
            {% if salvo %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Usuário e/ou Senha incorretos!</strong>
            </div>
            {% endif %}
            <br>
            <form  method="post" action="{% url 'login' %}">
                 {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i></span>
                        </div>
                        {{form.email.errors}}
                        {{form.email}}
                    </div>
                    <!-- input-group.// -->
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                        </div>
                        {{form.senha.errors}}
                        {{form.senha}}
                    </div>
                    <!-- input-group.// -->
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
    </div>
</div>
{% endblock %}